::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
}

body > * {
  padding-left: 50px;
  padding-right: 50px;
}

#logo-container {
  border: 1px solid #000;
  box-shadow: 5px 5px 20px #000;
}

header button[type="submit"] * {
  font-size: 25px;
}

#logo-container * {
  display: inline;
}

#logo-container h1:first-child {
  color: #000;
}

#logo-container h1:last-child {
  color: #fff;
  background-color: #000;
}

header form {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

header input,
header input:active {
  border: none;
  outline: none;
  border-radius: 15px;
  color: #000000b3;
  background-color: #d3d3d34d;
  padding: 10px;
  min-width: 200px;
  font-style: italic;
  font-size: medium;
}

header button[type="submit"] {
  border: none;
  background-color: #fff;
}

.list-title {
  margin-bottom: 100px;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: #000;
}

nav ul {
  gap: 30px;
  font-size: 20px;
}

nav li.active {
  text-shadow: 2px 2px 5px;
  font-style: italic;
}

nav .count {
  display: none;
}

nav li.active .count {
  display: inline;
}

header {
  display: flex;
  align-items: center;
  height: 70px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 70px;
  background-color: darkred;
}

main {
  text-align: center;
  padding: 150px;
  padding-top: 50px;
}

.items-list {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.item-card img {
  width: 100%;
  height: 250px;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.popup {
  text-align: center;
  position: fixed;
  z-index: 1;
  height: 100%;
  padding: 50px 25% 50px 25%;
  background-color: lightgray;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  height: 80%;
}

.popup-content .bi-x-lg {
  align-self: flex-end;
}

.popup-content img {
  width: 70%;
  height: 400px;
}

.popup-content p {
  text-align: center;
}

.popup-content ul {
  flex-direction: column;
  align-items: flex-start;
}

.popup-content form {
  display: flex;
  flex-direction: column;
}
