body {
  margin: 0;
}

body > * {
  padding-left: 50px;
  padding-right: 50px;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
}

nav ul {
  gap: 30px;
}

header {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: darkblue;
}

header form {
  margin-left: auto;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 70px;
  background-color: darkred;
}
