::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
}

body > * {
  padding-left: 50px;
  padding-right: 50px;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
}

nav ul {
  gap: 30px;
}

header {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: darkblue;
}

header form {
  margin-left: auto;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 70px;
  background-color: darkred;
}

main {
  text-align: center;
  padding: 150px;
}

.items-list {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.item-card img {
  width: 100%;
  height: 250px;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.popup {
  text-align: center;
  position: fixed;
  z-index: 1;
  height: 100%;
  padding: 50px 25% 50px 25%;
  background-color: lightgray;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  height: 80%;
}

.popup-content .bi-x-lg {
  align-self: flex-end;
}

.popup-content img {
  width: 70%;
  height: 400px;
}

.popup-content p {
  text-align: center;
}

.popup-content ul {
  flex-direction: column;
  align-items: flex-start;
}

.popup-content form {
  display: flex;
  flex-direction: column;
}
